.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; 

    background: #FFFFFF;
    border: 2px solid #944C40;
    border-radius: 5px;
    width: 28vw;
    height: 12vw;
}
.container h1{
    font-weight: 300;
    font-size: 3vw;
    line-height: 3vw;
    margin: 0;
}
/* .container div{
    display:none
}
.container div:hover{
    display:block
} */
