.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    
    background: linear-gradient(180deg, #DEDED9 0%, rgba(126, 126, 125, 0) 43.75%, #D0A1C6 100%);
}
