.vrapper{
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 2;
    overflow: hidden;
}
.container{
    position: fixed;
    top:30%;
    left:50%;
    transform: translateX(-50%);
    border-radius: 1vw;
    background-color: rgb(189, 189, 189);
    opacity: none;
    z-index: 2;
}
.closeButton{
    width: 5vw;
    padding: 1vw;
    position: absolute;
    top: 1vw;
    left: 1vw;
    cursor: pointer;
    border-radius: 2vw;
    opacity: 0.5;
    transition: opacity 0.4s;

}
.closeButton:hover{
    opacity: 1;
    transition: opacity 0.4s;

}
@media (max-width: 1440px) {

}
@media (max-width: 1023px) {

}
/* ----------- iPhone X ----------- */
@media (max-width: 767px) { 
    .container{
        top:20%;
    }
}