.vrapper{
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 2;
    overflow: hidden;
}
.container{
    position: fixed;
    top:30%;
    left:50%;
    transform: translateX(-50%);
    border-radius: 1vw;
    background-color: rgb(189, 189, 189);
    opacity: none;
    z-index: 2;
}
@media (max-width: 1440px) {

}
@media (max-width: 1023px) {

}
/* ----------- iPhone X ----------- */
@media (max-width: 767px) { 
    .container{
        top:20%;
    }
}