.container{
    width: 30vw;
    background-color: rgba(230, 230, 230, 0.918);
    border-radius: 1vw;
    /* border: 2px solid #944C40; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 15px 1px 30px rgba(0, 0, 0, 0.25);
}
.header{
    border-radius: 1vw 1vw 0 0;
    font-weight: 200;
    font-size: 2.5vw;
    line-height: 3vw;
    color: #4B4530;
    text-align: center;
    background-color: #E4C5E9;
    margin: 0;
    padding: 1vw;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 3vw;
}
.button{
    font-weight: 200;
    font-size: 2vw;
    line-height: 3vw;
    color: #4d4d4d;
    text-align: center;
    background-color: #E4C5E9;
    border-radius: 0.5vw 0.5vw 2vw 2vw;
    border: 1px solid #826886;
    /* transition:background-color 0.5s; */
}
.button:hover{
    background-color: #e897f7;
    transition:background-color 0.5s;

}
.button:active{
    background-color: #a545b6;
    transition:none;
}

@media (max-width: 1440px) {

}
@media (max-width: 1023px) {

}
@media (max-width: 767px) { 
    .container{
        width: 80vw;
        background-color: rgba(230, 230, 230, 0.677);

    }
    .header{
        font-size: 6.5vw;
        line-height: 6.5vw;
        padding: 3vw;
    }
    .form{
        gap: 4vw;
        padding: 6vw;
    }
    .button{
        font-size: 5vw;
        line-height: 5vw;
        height: 10vw;
    }
}