.container{

}
.error{
    color: #f77979;
    font-size: 1.3vw;
    padding-left: 1vw;
}
.input {
    position: relative;
    width: 100%;

}
.input input {
    background-color: #FFF;
    border: 0.3vw solid #E4C5E9;
    border-radius: 1vw;
    box-sizing: border-box;
    color: #4b4b4b;
    font-weight: 200;
    font-size: 1.8vw;
    line-height: 1.8vw;
    height: 4vw;
    outline: 0;
    padding: 0 2vw;
    width: 100%;
}
.input label {
    color: #000;
    font-family: Verdana, sans-serif;  
    font-weight: 200;
    font-size: 1.5vw;
    line-height: 1.5vw;
    padding: 0.5vw 1vw;
    pointer-events: none;
    position: absolute;
    transition: all 200ms;
    top: 0.6vw;
    left: 1.1vw;
    background-color: #FFF;
    color: #b9b9b9;
}
.input input::placeholder{
    color: white;
}
.input input:focus + label,
.input input:not(:placeholder-shown) + label{
    top: -0.7vw;
    left: 2vw;
    font-weight: 200;
    font-size: 1vw;
    line-height: 1vw;
    background-color: #b181e1;
    border-radius: 0.7vw;
    padding: 2px 10px;
    color: rgb(255, 255, 255)

}
@media (max-width: 1440px) {

}
@media (max-width: 1023px) {

}
@media (max-width: 767px) { 
    .error{
        font-size: 3.3vw;
        padding-left: 1vw;
    }
    .input input {
        font-size: 4.8vw;
        line-height: 5.1vw;
        height: 12vw;
    }
    .input label {
        font-size: 4.8vw;
        line-height: 5.1vw;
        top: 3.0vw;
        left: 1.1vw;
    }
    .input input::placeholder{
        color: white;
    }
    .input input:focus + label,
    .input input:not(:placeholder-shown) + label{
        top: -1.5vw;
        left: 2vw;
        font-size: 3vw;
        line-height: 3vw;
    }
}