.container{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px; 
}
.header{
    position:absolute;
    font-weight: 200;
    font-size: 3vw;
    line-height: 3vw;
    color: #4B4530;
}
.imageVrapper{
    width: 60vw;
}
.image{
    width: 60vw;
    border-radius: 2vw;


}
.textfield{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 30vw;
    top: 15vw;
    width: 30vw;
}
.textfield p {
    font-weight: 300;
    font-size: 1.5vw;
    line-height: 1.5vw;
    color: #4B4530;
    margin: 0;
}
.button{
    width: 25vw;
    font-weight: 200;
    font-size: 2vw;
    line-height: 2vw;
    text-align: center;
    border-radius: 10px;
    border: 0;
    padding: 5px;
    color: #4B4530;

    background: #D6D1CC;
    border: 1px solid #4B4530;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -15px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.button:hover{
    opacity: 0.8;
}

@media (max-width: 1440px) {

}
@media (max-width: 1023px) {
    .imageVrapper{
        width: 75vw;
    }
    .image{
        width: 75vw;
    }
    .textfield{
        width: 40vw;
        left: 30vw;
        top: 10vw;
    }
    .textfield p {
        font-weight: 300;
        font-size: 2vw;
        line-height: 2.3vw;
    }
    .button{
        width: 30vw;
        font-weight: 200;
        font-size: 2vw;
        line-height: 2vw;
        color: #4B4530;
    }
    
}
@media (max-width: 767px) { 
    .header{
        position:absolute;
        font-weight: 200;
        font-size: 4vw;
        line-height: 4vw;
        color: #4B4530;
    }
    .imageVrapper{
        width: 100vw;
    }
    .image{
        width: 100vw;
    }
    .textfield{
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 10px;
        left: 40vw;
        top: 10vw;
        width: 55vw;
    }
    .textfield p {
        font-weight: 300;
        font-size: 3.2vw;
        line-height: 3.5vw;
    }
    .button{
        width: 45vw;
        font-weight: 200;
        font-size: 4vw;
        line-height: 4vw;
        text-align: center;
        border-radius: 10px;
        border: 0;
        padding: 5px;
        color: #4B4530;
    
        background: #D6D1CC;
        border: 1px solid #4B4530;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -15px 10px 20px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }
}
