.slide {
    position: relative;
    display: flex;
    padding: 0vw 1vw 2vw 1vw;

}

.imageContainer {
    position: relative;
}

.img {
    height: 48vw;
    border-radius: 1vw 0 0 1vw;
}

.header {
    font-weight: 200;
    font-size: 3vw;
    line-height: 3vw;
    color: #4B4530;
    margin: 1vw;
}

.slideHeader {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 45vw;
    background-color: rgba(255, 255, 255, 0.615);
    border-radius: 0 0 2vw 2vw;

    font-weight: 100;
    font-size: 1.5vw;
    line-height: 1.8vw;
    color: rgb(60, 60, 60);



    width: 20vw;
    font-size: 0.8vw;
    line-height: 0.8vw;
}

.textArea {
    /* position: absolute; */
    top: 15vw;
    left: 5vw;
    background-color: white;
    border-radius: 0 1vw 1vw 0;
    padding: 1vw;

    text-align: start;
    font-weight: 100;

    top: 6vw;
    height: 48vw;
    overflow: auto;
    font-size: 1.2vw;
    line-height: 1.4vw;
    box-sizing: border-box;

}

/* ---------------------------------- */

@media (max-width: 1023px) {
    .slideHeader {
        width: 28vw;
        font-size: 1.4vw;
        line-height: 2vw;
    }

    .img {
        height: 63vw;
        border-radius: 1vw 0 0 1vw;
    }

    .slideHeader {
        width: 90%;
        border-radius: 0vw 0vw 3vw 3vw;
    }

    .textArea {
        top: 17vw;
        left: 5vw;
        height: 63vw;
        font-size: 2vw;
        line-height: 2.2vw;
    }
}

@media (max-width: 767px) {
    .slide {
        position: relative;
        display: flex;
        gap: 2vw;
        flex-direction: column;
        align-items: center;

    }

    .img {
        width: 90vw;
        height: 90vw;
        border-radius: 3vw;
    }

    .slideHeader {
        width: 80vw;
        border-radius: 3vw 3vw 0 0;
        top: auto;
        bottom: 0;
        font-size: 2.5vw;
        line-height: 2.8vw;
    }

    .textArea {
        width: 90vw;
        font-size: 2.6vw;
        line-height: 2.8vw;
        border-radius: 2vw 2vw 2vw 2vw;


    }
}