.container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70vw;
    text-align: center;
}
.header{
    font-weight: 200;
    font-size: 3vw;
    line-height: 3vw;
    color: #4B4530;
}
.slide{
}
.slide img{
    
}
.slideHeader{
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    width: 45vw;
    background-color: rgba(255, 255, 255, 0.615);
    border-radius: 0 0 3vw 3vw;

    font-weight: 100;
    font-size: 1.5vw;
    line-height: 1,5vw;
    color: rgb(60, 60, 60);
}
.textArea{
    position: absolute;
    top: 15vw;
    left: 5vw;
    background-color: white;
    border-radius: 2vw;
    width: 40vw;
    padding: 1vw;

    text-align:start;
    font-weight: 100;
    font-size: 1.6vw;
    line-height: 2vw;

}
